@import "~swiper/swiper";
@import "~swiper/components/effect-coverflow/effect-coverflow";
@import "~swiper/components/pagination/pagination";
@import "~swiper/components/lazy/lazy";

.swiper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination {
  margin-top: 400px;
}